h1 {
  font-size: 120px;
  color: #fff;
  font-family: myriad-pro, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  display: flex;
  flex-direction: column;
  @include topBottomLeftRight;

  span {
    font-size: 1.6rem;
  }
}

h2 {
  @include hedding2;
}

h3 {
  @include hedding3;
}