.florist {
  padding: 80px 0;
  @include sectionPadding;
  margin: 0 auto;
  background: linear-gradient(#ededed 51%, #fff 30%);
  max-width: none;
}

.p-florist__disc {
  @include heddingDisc;
}

.p-florist__card {
  text-align: left;

  &__text {
    font-size: 1.6rem;
    line-height: 2;
  }
}

@include mq-up('lg') {
  .p-florist__card {
    width: 80%;
    margin: 0 auto;
  }
}