.p-footer {
  padding-top: 80px;
  background-image: url(../images/contact_us.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
}

.copy {
  text-align: center;
  line-height: 3;
  font-size: 1.6rem;
}